### PRANAV BHAGAT

In [1]:
import pandas as pd

In [2]:
desc = pd.read_csv('ResumesName.csv')

In [3]:
desc = desc.iloc[2:]
desc = desc.reset_index(drop=True)

In [4]:
new_header = desc.iloc[0] 
desc = desc[1:] 
desc.columns = new_header

In [5]:
desc

0               Name         Resume
1     Barbara Gordon   Barbara1.txt
2        Basil Karlo     basil1.txt
3       Floyd Lawton     Floyd1.txt
4     Garfield Lynns  garfield1.txt
5        Harvey Dent    Harvey1.txt
6       Hugo Strange      Hugo1.txt
7     Jonathan Crane  Jonathan1.txt
8   Lester Buchinsky    lester1.txt
9         Nora Fries      nora1.txt
10      Pamela Isley    pamela1.txt
11      Roman Sionis     Roman1.txt
12       Selina Kyle    Selina1.txt
13     Thomas Eliott    thomas1.txt
14      Waylon Jones    waylon1.txt
15   Alberto Falcone   Alberto1.txt

In [6]:
with open("JobDesc.txt","r") as jd :
    for line in jd:
        print(line)

Microsoft is hiring !



We are on the lookout for new candidates for our data science team.

Role : Data Scientist

Description :

1. Candidates should be well versed in machine learning patters along with neural network algorithms.

2. Candidates should have a degree in engineering or equaivalent STEM fields.

3. Candidates should know the following programming languages,

	R, Python, Javascript, Java, SQL

4. Candidates should have some work experience.

5. Candidates should also be knowing the following subjects,

	Machine Learning, Linear Algebra, Relational Database, Statistics.

In [7]:
with open("JobDesc.txt",'r') as jf:     
    Str = jf.read() 
Job = Str.split(',')
Job

['Microsoft is hiring !\n\nWe are on the lookout for new candidates for our data science team.\nRole : Data Scientist\nDescription : \n1. Candidates should be well versed in machine learning patters along with neural network algorithms.\n2. Candidates should have a degree in engineering or equaivalent STEM fields.\n3. Candidates should know the following programming languages',
 '\n\tR',
 ' Python',
 ' Javascript',
 ' Java',
 ' SQL\n4. Candidates should have some work experience.\n5. Candidates should also be knowing the following subjects',
 '\n\tMachine Learning',
 ' Linear Algebra',
 ' Relational Database',
 ' Statistics.\n\n']

In [8]:
rL=desc['Resume']

In [9]:
candic={}
for i in rL:
    with open(i,'r') as res_file: 
        dic=[]
        Str = res_file.read()
        for j in Job:
            if j in Str:
                dic.append(j)
        candic.update({i:len(dic)})
        print(str(dic))
for x,y in candic.items():
    print(x,y)
candic.items()

[' Python', ' Javascript', ' Java', ' Linear Algebra', ' Relational Database']
[' Python', ' Javascript', ' Java', ' Relational Database']
[' Javascript', ' Java']
[' Java', ' Linear Algebra']
[' Python', ' Java', ' Relational Database']
[' Python', ' Java']
[' Python', ' Java', ' Linear Algebra']
[' Java']
[' Java']
[' Python', ' Java', ' Linear Algebra']
[' Python', ' Java', ' Linear Algebra']
[' Python', ' Java', ' Linear Algebra', ' Relational Database']
[' Java']
[' Java']
[]
Barbara1.txt 5
basil1.txt 4
Floyd1.txt 2
garfield1.txt 2
Harvey1.txt 3
Hugo1.txt 2
Jonathan1.txt 3
lester1.txt 1
nora1.txt 1
pamela1.txt 3
Roman1.txt 3
Selina1.txt 4
thomas1.txt 1
waylon1.txt 1
Alberto1.txt 0

dict_items([('Barbara1.txt', 5), ('basil1.txt', 4), ('Floyd1.txt', 2), ('garfield1.txt', 2), ('Harvey1.txt', 3), ('Hugo1.txt', 2), ('Jonathan1.txt', 3), ('lester1.txt', 1), ('nora1.txt', 1), ('pamela1.txt', 3), ('Roman1.txt', 3), ('Selina1.txt', 4), ('thomas1.txt', 1), ('waylon1.txt', 1), ('Alberto1.txt', 0)])

In [10]:
print(candic.items)

<built-in method items of dict object at 0x0000026FF10F2558>

In [11]:
print(dict.items)

<method 'items' of 'dict' objects>

In [12]:
print("printable string:%s" % str(dic))

printable string:[]

In [13]:
x={k: v for k, v in sorted(candic.items(), key=lambda item: item[1],reverse=True)}
x

{'Barbara1.txt': 5,
 'basil1.txt': 4,
 'Selina1.txt': 4,
 'Harvey1.txt': 3,
 'Jonathan1.txt': 3,
 'pamela1.txt': 3,
 'Roman1.txt': 3,
 'Floyd1.txt': 2,
 'garfield1.txt': 2,
 'Hugo1.txt': 2,
 'lester1.txt': 1,
 'nora1.txt': 1,
 'thomas1.txt': 1,
 'waylon1.txt': 1,
 'Alberto1.txt': 0}

In [14]:
count=0
with open('ToInterview.csv','w') as selected:     
    selected.write("Rank , Candidates\n")
    for c,s in x.items():
        if count>4:
            break
        selected.write(f"{c} , {s}\n")
        count+=1
selected.close()